In [1]:
import pandas as pd

In [3]:
data = pd.read_csv(r'D:\0_Respaldo\000_KaggleX\Projects\Rag-Ley675\675_LAW\notebooks\preguntas_articulos_enlace.csv')

In [10]:
df_data = pd.read_csv(r'D:\0_Respaldo\000_KaggleX\Projects\Rag-Ley675\675_LAW\notebooks\articulos_0-132.csv')

In [11]:
df_data.head(2)

,articulo_id,articulo_name,detalla,contenido,conteo_palabras,rango_palabras
0,4,Artículo 4,Constitución,Un edificio o conjunto se somete al régimen de...,36,0-132
1,6,Artículo 6,Documentación anexa,Con la escritura pública de constitución o de ...,109,0-132

In [4]:
data.head(3)

   pregunta_id  articulo_id        responde
0         1001            1  Hacia articulo
1         1002            1  Hacia articulo
2        10030            1  Hacia articulo

In [5]:
df = data.copy()

In [8]:
df_1 = df[df['articulo_id'] == 1]

In [9]:
df_1.head(3)

   pregunta_id  articulo_id        responde
0         1001            1  Hacia articulo
1         1002            1  Hacia articulo
2        10030            1  Hacia articulo